.crypto-card-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,150px);
    justify-content: center;
    column-gap: 30px;   
    row-gap: 20px;
    padding-bottom: 20px;
}

.crypto-card-container{
    display: flex;
    width: 150px;
    height: 225px;
    position: relative;
}

.crypto-card-image{
    display: flex;
    height: 100px;
    width: 100px;
}

.crypto-card-front{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s;
    background-color: #fff;
    border-radius: 2rem;
    padding: 20px;
    border: 4px solid #887ac3;
    display: flex;
    height: 175px;
    width: 100px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px;
}

.crypto-card-front-info-container{
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: hidden;
}

.crypto-card-front-info-container > div > p, .crypto-card-front-input-container{
    display: flex;
    justify-content: center;
}

.crypto-card-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s;
    height: 175px;
    width: 100px;
    background-color: #fff;
    border-radius: 2rem;
    border: 4px solid #887ac3;
    padding: 20px;
    box-shadow: 5px 5px 10px;
}

.crypto-card-back-info-container > div > p, .crypto-card-front-info-container > div > p{
    word-break: break-all;
}

.crypto-card-back-info-container{
    height: 140px;
    width: 100%;
    overflow-y: auto;
}

.crypto-card-back-input-container{
    padding-top: 10px;
}

.crypto-card-back-input-container > input, .crypto-card-front-input-container > input{
    background-color: orange;
    border-radius: 3rem;
    border-style: solid;
    border: 1px solid orange;
    padding: 5px;
    color: white;
}

.crypto-card-back-input-container > input:hover , .crypto-card-front-input-container > input:hover{
    cursor: pointer;
    opacity: 0.5;
}

.crypto-card-back-info-container > div > p{
    font-size: 0.75rem;
}

.base-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.base-title > p{
    font-weight: bold;
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
}

.base-title::before{
    display: flex;
    content: 'Trending';
    color: rgb(122, 0, 226);
    font-weight: bold;
    font-size: 2.5rem;
    align-items: center;
}

.base-show-more{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.base-show-more > input{
    font-size: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 2rem;
    padding: 2px 10px;
}

.base-show-more > input:hover{
    cursor: pointer;
    opacity: 0.5;
}
