.address-button-container > input:hover{
    cursor: pointer;
    opacity: 0.5;
}

.generated-address-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px 15px 5px;
}

.generated-address-container > div > p{
    background-color: rgb(144, 240, 137);
    padding: 20px;
    border-radius: 3rem;
}


