.generated-address-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px 15px 5px;
}

.generated-address-container > div > p{
    background-color: rgb(144, 240, 137);
    padding: 20px;
    border-radius: 3rem;
}

.receive-popup-link{
    text-decoration: underline;
    color: rgb(42, 0, 255);
}

.receive-popup-link:hover{
    cursor: pointer;
}
