.send-container{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.send-inputs-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    background: white;
    border-radius: 2rem;
    margin-top: 50px;
    box-shadow: 0px 0px 20px;
}

.send-inputs-container > div:nth-child(2), .send-inputs-container > div:nth-child(3){
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.send-inputs-container > div:nth-child(2) > label, .send-inputs-container > div:nth-child(3) > label{
    padding-bottom: 5px;
}

.send-inputs-container > div:nth-child(2) > input, .send-inputs-container > div:nth-child(3) > input{
    background-color: #e5ebed;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px;
}

.send-inputs-container > div:last-child{
    display: flex;
    justify-content: center;
    padding-top:10px;
}

.send-inputs-container > div:first-child{
    align-self: center;
}

.send-inputs-container > div:first-child > p{
    color: #0a51b6;
    font-size: 1.5rem;
    font-weight: 700;
}