.side-bar-container{
    display: flex;
    min-height: 100vh;
    min-width: 300px;
    max-width: 300px;
}

.side-bar-wrapper{
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #2e3047;
}

.side-bar-wrapper > h3{
    color: #707793;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.side-bar-wrapper > .menu{
    margin: 0 -1rem;
}

.side-bar-wrapper > .menu > .menu-item{
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
}

.side-bar-wrapper > .menu > .menu-item:hover,
.side-bar-wrapper > .menu > .menu-item.is-active{ 
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
}

.menu-toggle{
    display: none;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
}

.hamburger{
    position: relative;
    top: calc(50%-2px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
}

.hamburger > span, .hamburger > span::before, .hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: 0.25s;
}

.hamburger > span::before { 
    content: '';
    top: -8px;
}

.hamburger > span::after{
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

@media (max-width: 1024px){
    .side-bar-wrapper{
        max-width: 200px;
    }
}

@media (max-width: 768px){
    .menu-toggle{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .side-bar-wrapper{
        position: flex;
        transform: translateX(-300px);
        height: 100vh;
        width: 100%;
        max-width: 200px;
        transition: 0.2s linear;
    }

    .side-bar-container{
        position: absolute;
        min-width: 200px;
       

    }

    .dashboard-container{
        position: relative;
    }
}

.side-bar-wrapper.is-active{
    transform: translateX(0px);
}