.verify-email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.verify-email-container > div:first-child > p{
    font-size: 3rem;
    color: red;
    font-weight: bold;
}

.verify-email-container > div:nth-child(2) > p{
    text-align: center;
    font-size: 1.3rem;
}

.verify-email-container > div:nth-child(2){
    width: 80%;
}

.verify-email-container >div:last-child{
    padding: 10px 5px 15px 5px;
}

.verify-alert-container{
    width: 250px;
}

.email-verified-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.email-verified-container > div:first-child{
    font-size: 3rem;
    color: green;
    font-weight: bold;
}

.email-verified-container > div:nth-child(2){
    padding: 0 10px 10px 10px;
    text-align: center;
}

.email-verified-container > div:nth-child(2) > p{
    font-size: 1.3rem;
}